@font-face {
    font-family: Futura;
    src: url('./../fonts/futura/Futura Book font.ttf');
}

* {
    font-family: Futura;
}


.nav-menu-soft a, .nav-menu-bold a{
    display: inline-block;
    padding: 18px 20px;

    text-decoration: none;
    border-bottom: 3px solid transparent;
}

.nav-menu-bold a{
    color: #00203fff;
}
.nav-menu-soft a{
    color: #adefd1ff;
}



.nav-menu-soft a:hover {
    border-bottom: 3px solid #adefd1ff;
    transition: 0.5s;
}

.nav-menu-bold a:hover {
    border-bottom: 3px solid #00203fff;
    transition: 0.5s;
}



.nav-menu-soft, .nav-menu-bold {
    list-style: none;
    padding-left: 0px;

    width: 100%;    
}

.nav-menu-soft {
    background-color: transparent;
    border-bottom: 1px solid rgba(173, 239, 209, 0.671);
}

.nav-menu-bold {
    background-color: rgb(185, 255, 224)!important;
}




.account-soft {
    float: right;
    background-color: #adefd1ff;
    color: #00203fff!important;
}

.account-bold {
    float: right;
    background-color: #00203fff;
    color: #adefd1ff!important;
}



.account-soft:hover {
    background-color: rgb(134, 211, 176);
    border-bottom: 3px solid rgb(134, 211, 176);
}

.account-bold:hover {
    background-color: rgb(1, 48, 95);
    border-bottom: 3px solid rgb(1, 48, 95);
}


.fas{
    font-size: 20px;
    vertical-align: middle;
}

.active {
    border-bottom: 3px solid #00203fff!important;
}

.todos-header {
    background-color: #00203fff;
    display: grid;
    align-content: center;
    justify-content: center;
    height: 100px;
    font-size: 60px;
    color: rgb(75, 241, 166);
}
