.citacao {
    border: 2px solid #00203fff;
    border-radius: 3px;
    padding: 30px;
    margin-top: 40px;
    background-color: white;
    text-align: center;
    margin: 0 auto;
    width: 70vw;
    margin-bottom: 60px;
}


.citacao h1{



    color: #00203fff;
    font-size: 40px;
    text-shadow: #adefd1ff 2px 5px;


}

.autor {
    position: absolute;
    color: rgb(29, 89, 255);
    text-shadow: 2px 3px gray;
    background-color: rgb(242, 255, 249);
    width: 200px;
    padding-top: 5px;
    float: right;
}

.single-item {
    margin-top: 50px;

}

.single-item img{

    height: 250px;
    width: 100vw auto;
    margin: 0 auto; /* it centers any block level element */

}

.slider {
    background-color: white;
    height: 350px;
    display: grid;
    align-content: center;
    margin-top: 50px;
}

.text-home, .text-home2 {
    margin: 0 auto;
    width: 60vw;
    text-align: center;
    font-size: 30px;
}

.text-home {
    margin-top: 70px;
}

.text-home2 p{
    font-size: 35px;
}

.graph {
    margin-top: 70px;
}

.graph img {

    height: 800px;
}

.graph h1 {
    text-align: center;
    font-size: 30px;
    color:rgb(29, 89, 255);
}

.graph {
    text-align: center;
}

.background-home1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;


}

.background-home1 p {
    font-size: 25px;
    width: 300px;
    text-align: center;
    color: rgb(255, 255, 255);

}

.p-background-home1 {

    grid-column: 1;
}

.p2-background-home1 {
    grid-column: 2;
}

.p3-background-home1 {
    grid-column: 3;
}

.div-bg {
    margin: 0 auto;
    display: grid;
    align-content: center;
}

.background-home3 {

    display: grid;
    align-content: center;
    color: white;

}

.background-home3 h1 {
    font-size: 100px;
    color: #adefd1ff;
    text-shadow: #00203fff 2px 5px;
}

.btn-start {
    width: 300px;
    height: 70px;
    font-size: 30px;
}