

.background-static {
    background-attachment:fixed;
    background-size:210vh;
    margin-bottom: 30px;
}

.background-nav {
    background-image: url('../img/background.jpg');
    height: 100vh;
}

.background-home1 {
    background-image: url('https://i.ibb.co/4ZKpqgz/imageedit-2-3304040783.jpg');
    height: 50vh;
}

.background-home3 {
    background-image: url('https://i.ibb.co/KxD7pb0/imageedit-3-9044366223.jpg');
    height: 70vh;
}




.main-title {
    height: 70vh;
    display: grid;
    align-content: center;
    justify-content: center;
}

.main-title h1 {
    text-align: center;
    color: #adefd1ff;
    font-size: 80px;
    text-shadow: #00203fff 2px 5px;
}

.main-title h2 {
    color: #adefd1ff;
    text-shadow: #00203fff 2px 5px;
}

