body {
    position: relative;
}


.form-group{
    margin-bottom: 15px;
}

.modal-success, .modal-error {
    min-width: 400px;
    width: 30vw;
    position: fixed!important;
    height: 80px auto;
    float: right;
    top: 10px;
    right: 10px;
    display: none;

}

.modal-success {
    border-bottom: 6px solid green;
}

.modal-success:hover {
    background-color: rgb(195, 255, 195);
    cursor: pointer;
}

.modal-error {
    border-bottom: 6px solid rgb(255, 47, 47);
}

.modal-error:hover {
    background-color: rgb(251, 194, 194);
    cursor: pointer;
}


.todo-list {
    width: 82vw;
    min-height: 70vh;
}

.todo-block {
    margin-top: 50px;
}

.input-todo, .input-todo-item {
    width:60vw;
    min-height: 80px;
    margin: 0 auto;
    font-size: 30px;
}

.input-todo {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
}

.todo-item {
    position: relative;
    width: 60vw;
    margin: 0 auto;
    direction:ltr;
}

.icon {
    height: 15px;
    position: absolute;
}

.bg-light-blue {
    background-color: rgb(193, 237, 255)!important;
}



.bg-light-blue-body {
    background-color: rgb(255, 255, 255);
}

.container {
    width: 80vw;
    padding-bottom: 50px;
}

textarea:read-only {
    background-color: rgb(224, 255, 240)!important;
    border-radius: 0;
}

.title-login {
    text-align: center;

}

#input-todo {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 24, 48);
    margin-bottom: 10px;
    border-radius: 0;
    border: 2px solid rgb(0, 24, 48);

}

#input-todo:focus {
    box-shadow: none;
    transition: 0.5s;
}

#input-todo::placeholder {
    color: rgb(0, 24, 48);;
}


.todo-item textarea:read-only ,.todo-item textarea {
    border: 1px solid rgb(0, 24, 48);
    background-color: white!important;
    color: #00203fff;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 3px 4px gray;
}

.todo-item textarea {
    box-shadow: none;

}

.input-area {
    background-color: rgba(31, 72, 255, 0.719);
    padding: 10px;
    margin-bottom: 5px;
}